/* resetear estilo de navegador*/
 *{
  box-sizing: border-box; /*Hace que se calcule automaticamaticamente 
  el elemento con el padding y el border para que no se salga del
  visualizador del navegador*/
  padding: 0%;
  margin: 0;

} 


#logo1
{
        width: 150px;
        margin: auto;
        display:block;
}

@font-face
{
   font-family: "ink-free";
   src: url("ink-free.eot");
   src: url("ink-free.eot?#amocristalab") format("embedded-opentype"),
        url("ink-free.woff") format("woff"),
        url("ink-free.ttf") format("truetype"),
        url("ink-free.svg#InkFree") format("svg");
}

body{
    font-family: 'Montserrat', sans-serif;

}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:active{
    color: white;
}

a:hover {
    color: white;
  }



il {
    list-style-type: none;
  }
  
  li {
    color: white;
    background-color: #b8003d;
    border: #dda7bc 2px solid;
    display: inline-table;
    margin-right: 10px;
    padding: 0 4px;
    border-radius: 6px;

    
  }

.barra{
    display: flex;
    justify-content: center;
}
 
section{
  margin: auto;
}

.precios{
  
  width: 100%;
  border-collapse: collapse;
  
}

.lista_precio{
  padding: 10px;
  display: inline-table;
  justify-content: center;
  margin: 0;
  
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  padding: 10px;
}

h4{

  padding-top: 15px;
  padding-bottom: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #fc95ae;
}

footer{
  text-align: center;
}