:root{
    --pink: #e6145a;
    --grey: #dbdbdb;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.whitebox{
    background: var(--white);
    color: var(--pink);
}

.pinkbox{
    background: var(--pink);
    color: var(--white);
}


a{
    text-decoration: none;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.6rem;
}
h3{
    font-size: 2rem;
}



/*HEADER */

header{
    width: 100vw;
    height: 248px;

}

header .img-container{
    display: flex;
    justify-content: center;
    
}

header .img-container img{
    width: 200px;
} 

header .nav-container{
    display: flex;
    justify-content: center;
}

header .nav-container li{
    background: var(--grey);
    display: inline-block;
    padding-top: 10px;
    width: 75px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    margin: auto 1px; /**/
}

header .nav-container li i{
    font-size: 2.4rem;
}


header .nav-container li a{
    color: var(--pink);
}


/* MAIN HOME*/

main .desc-container{
    width: 100vw;
    padding: 10px 7px;
    text-align: center;
    
}

main .desc-container h1{
    text-align: center;
}

main .desc-container p{
    margin: auto;
    width: 340px;
    font-size: 1.4rem;
    text-align:center;
    margin-bottom: 10px;
}

main .desc-container i{
    margin: 10px auto;
    font-size: 8rem;
}

main .pinkbox i{
    background: var(--pink);
    color: var(--white);
}




main ol{
    font-size: 1.4rem;
    list-style: none;
    margin-bottom: 10px;
}



/* MAIN PRECIOS */

main .precios-container{
    display: flex;
    flex-direction: column;

}

main .precios-container h2 , main .precios-container h3{
    text-align: center;
    margin: 4px auto;

}
main .precios-container h3{
    margin-top: 10px;
}

main .precios-container p{
    text-align: center;
    font-size: 1.4rem;
}


main .precios-container table{
    width: 270px;
    margin: auto;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

main .precios-container table td{
    padding: 0 10px;
}

main .lista_precio{
    padding: 10px 0;
}


.precios-container img{
    width: 350px;
}

.precios-container .precios-img{
    text-align: center;
}


.imgX2{
    display: flex;
    justify-content: center;
}

 .imgX2 img{
    width: 170px;
    margin: 5px;
}



/* -------------MAIN COMBOS--------------  */


.combo-container{
    padding: 10px 0; 
}

.combo-container h2 {
    text-align: center;
}

.combo-container .desc-combo{
    list-style: square;
    margin: 10px 25px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.combo-container .circle-price{
    width: 90px;
    font-size: 4.5rem;
    padding: 5px;
    border-radius: 40px;
    
}

.combo-container .combo-img{
    text-align: center;
}

.combo-img img{
    width: 350px;
}



/* ----------------MAIN CONTACTOS------------- */

.con-boxes-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.con-boxes-container i{
    font-size: 8rem;
}

.con-box{
    width: 175px;
    height: 175px;
    font-size: 2rem;
    text-align: center;
    padding-top: 27px;
}

footer{
    background: var(--grey);
    height: 80px;
    text-align: center;
    
}

footer p{
    padding-top: 10px;
    margin-right: 10px;
}

footer .footer--upperbox{
    display: flex;
    justify-content: center;
    
}

.footer--contacts{
    display: flex;
}

.footer--contacts i{
    font-size: 1.7rem;
    padding-top: 8px;
    margin-right: 4px;
}