*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

/*HEADER */

header{
    width: 100vw;
    height: 248px;

}

header .img-container{
    display: flex;
    justify-content: center;
    
}

header .img-container img{
    width: 200px;
} 

header .nav-container{
    display: flex;
    justify-content: center;
}

header .nav-container li{
    background: #dbdbdb;
    display: inline-block;
    padding-top: 10px;
    width: 75px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    margin: auto 1px;
}

header .nav-container li i{
    font-size: 2.4rem;
}


header .nav-container li a{
    color: #e6145a;
}


/* MAIN HOME*/

main .desc-container{
    width: 100vw;
    height: 248px;
    background:#e6145a;
    color: #fff;
    padding: 7px;
    text-align: center;
    
}


main .desc-container h1{
    font-size: 2.6rem;
    text-align: center;
}

main .desc-container p{
    margin: auto;
    width: 340px;
    font-size: 1.4rem;
    text-align:center;
}

main .desc-container i{
    margin: 10px auto;
    font-size: 8rem;
}
main .prices{
    background: #fff;
    color: #e6145a;
}

main .prices li{
    font-size: 1.4rem;
}

/* MAIN PRECIOS */

main .precios-container{
    display: flex;
    flex-direction: column;

}

main .precios-container h3 , main .precios-container h4{
    text-align: center;
    margin: 4px auto;

}
main .precios-container h3{
    font-size: 2.6rem;
    margin-top: 10px;
}

main .precios-container h4{
    font-size: 2rem;
}

main .precios-container table{
    margin: auto;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

main .precios-container .dulces{
    background: #e6145a;
    color: #fff;
}

main .precios-container .salados{
    background: #fff ;
    color: #e6145a;
}