*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 2.4rem;
}

/*HEADER */

header{
    width: 100vw;
    height: 248px;

}

header .img-container{
    display: flex;
    justify-content: center;
    
}

header .img-container img{
    width: 200px;
} 

header .nav-container{
    display: flex;
    justify-content: center;
}

header .nav-container li{
    background: #dbdbdb;
    display: inline-block;
    padding-top: 10px;
    width: 75px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    margin: auto 1px;
}

header .nav-container li i{
    font-size: 2.4rem;
}


header .nav-container li a{
    color: #e6145a;
}


/* MAIN HOME*/

main .desc-container{
    width: 100vw;
    height: 248px;
    background:#e6145a;
    color: #fff;
    padding: 7px;
    text-align: center;
    
}


main .desc-container h1{
    font-size: 2.6rem;
    text-align: center;
}

main .desc-container p{
    margin: auto;
    width: 340px;
    font-size: 1.4rem;
    text-align:center;
}

main .desc-container i{
    margin: 10px auto;
    font-size: 8rem;
}
main .prices{
    background: #fff;
    color: #e6145a;
}

main .prices ol{
    font-size: 1.4rem;
    list-style: none;
    margin-bottom: 10px;
}

/* MAIN PRECIOS */

main .precios-container{
    display: flex;
    flex-direction: column;


}

main .precios-container h3 , main .precios-container h4{
    text-align: center;
    margin: 4px auto;

}
main .precios-container h3{
    font-size: 2.6rem;
    margin-top: 10px;
}

main .precios-container h4{
    font-size: 2rem;
}

main .precios-container table{
    margin: auto;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

main .precios-container .dulces{
    background: #e6145a;
    color: #fff;
    padding-bottom: 10px;
}

main .precios-container .salados{
    background: #fff ;
    color: #e6145a;
    padding-bottom: 10px;
}

.precios-container img{
    width: 350px;
}

.precios-container .precios-img{
    text-align: center;
}

.precios-container .imgX2{
    display: flex;
    justify-content: center;
}

.precios-container .imgX2 img{
    width: 170px;
    margin: 5px;
}





/* -------------MAIN COMBOS--------------  */

.boxA{
    background: #e6145a;
    color: #fff;
}

.boxB{
    color: #e6145a;
}

.combo-container{
    padding: 10px 0;
    
}

.combo-container h1 {
    text-align: center;
}

.combo-container .desc-combo{
    list-style: square;
    margin: 10px 25px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.combo-container h2{
    width: 90px;
    font-size: 4.5rem;
    padding: 5px;
    background: #fff;
    color: #e6145a;
    border-radius: 40px;
}

.boxB h2{
    background: #e6145a;
    color: #fff;
}

.combo-container .combo-img{
    text-align: center;
}

.combo-container img{
    width: 350px;
}



/* ----------------MAIN CONTACTOS------------- */

.con-boxes-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.con-boxes-container i{
    font-size: 8rem;
}

.con-boxA, .con-boxB{
    background: #e6145a;
    color: #fff;
    width: 175px;
    height: 175px;
    font-size: 2rem;
    text-align: center;
    padding-top: 27px;
}

.con-boxB{
    background: #fff;
    color: #e6145a;
}

